<h2 class="page-header">Product Management</h2>
<!--<div class="panel">
<button type="button" class="btn btn-block" data-toggle="collapse" data-target="#addNewProduct"><span class="glyphicon glyphicon-plus"></span>Add new products</button>
<div id="addNewProduct" class="collapse">
<form class="well" (submit)="addProduct()">
  <div class="form-group">
    <label>Product Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Product Description</label>
    <input type="text" [(ngModel)]="itemDescription" name="itemDescription" class="form-control">
  </div>
  <div class="form-group">
    <label>Product Price</label>
    <input type="number" [(ngModel)]="price" name="price" class="form-control" min=".01" step="0.01" >
  </div>
  <div class="form-group">
    <label>In Inventory</label>
    <input type="number" [(ngModel)]="inStock" name="inStock" class="form-control" min="0">
  </div>
  <input type="submit" class="btn btn-primary" value="Add Product">
</form>
</div>
</div>


<div class="product-list">
    <table class="table" >
        <thead>
          <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Inventory</th>
          
          </tr>
        </thead>
    <tbody>
   
    <tr *ngFor="let product of products">
        
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>${{product.price}}</td>
            <td>{{product.inStock}} </td>
            <td><input type="button"  (click)="deleteProduct(product._id)" value="Delete" class="btn btn-danger btn-xs"></td>   
      </tr>
    
         </tbody>
  </table>
    
</div>-->


<p-dataTable #prodDT [value]="products" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true" exportFilename="products" expandableRows="true">
    <p-header style="text-transform: uppercase; font-family: 'PT Sans Narrow', Arial, sans-serif; font-size: 12px;">Products List
    </p-header>
    <p-column field="itemCode" header="ITEM_CODE" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="description" header="DESCRIPTION"></p-column>
    <p-column field="price" header="PRICE" >
        <ng-template let-col let-product="rowData" pTemplate="body">
            <span>{{product[col.field] | currency:'USD':true:'.00'}}</span>
        </ng-template>
    </p-column>
        <p-column field="vendorPrice" header="VENDOR_PRICE" >
        <ng-template let-col let-product="rowData" pTemplate="body">
            <span>{{product[col.field] | currency:'USD':true:'.00'}}</span>
        </ng-template>
    </p-column>
    <p-column field="inStock" header="QTY_ON_HAND" [sortable]="true" [editable]="true">
    </p-column>
    <p-column header="IMAGE" expander="true" styleClass="col-icon" ></p-column>
        <ng-template let-product pTemplate="rowexpansion">
            <div class="ui-g">
                <div class="ui-lg-4 ui-md-4"></div>
                <div class="ui-lg-4 ui-md-4 ui-sm-12"><img src="{{product.image}}" align="middle"></div>
                <div class="ui-lg-4 ui-md-4"></div>
            </div>
        </ng-template>
    <p-footer></p-footer>
</p-dataTable>
<button type="button" pButton class="btn btn-primary" icon="fa-plus" style="float:left; top: 10px;" (click)="showDialogToAdd()" label="Add new product"></button>
<button type="button" pButton class="btn btn-success" icon="fa-file-o" iconPos="left" style="float:right; top: 10px;"  label="Export to CSV" (click)="prodDT.exportCSV()"></button>

<p-dialog header="Product Details" [(visible)]="displayDialog" [responsive]="true" [modal]="true" showEffect="fade"  [width]="400">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="product">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="itemCode">ITEM CODE</label></div>
            <div class="ui-grid-col-8"><input pInputText id="itemCode" size="30" [(ngModel)]="product.itemCode" [disabled]="text" /></div>
        </div>
        <br>   
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="description">DESCRIPTION</label></div>
            <div class="ui-grid-col-8"><input pInputText id="description" size="30" [(ngModel)]="product.description" [disabled]="text"/></div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="price">PRICE</label></div>
            <div class="ui-grid-col-8"><input pInputText type="number" id="price" size="30" [(ngModel)]="product.price" [disabled]="text"/></div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vendorPrice">VENDDOR PRICE</label></div>
            <div class="ui-grid-col-8"><input pInputText type="number" id="vendorPrice" size="30" [(ngModel)]="product.vendorPrice"[disabled]="text" /></div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="inStock">QUANTITY</label></div>
            <div class="ui-grid-col-8"><input pInputText type="number" id="inStock" size="30" [(ngModel)]="product.inStock"[disabled]="text" /></div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="image">IMAGE</label></div>
            <div class="ui-grid-col-8"><input type="file" id="file" accept="image/*" (change)="onChange($event)" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <a href="#"><button type="button" class="btn btn-info"><span class="fa fa-question"></span></button></a>
            <button type="button" class="btn btn-danger" (click)="delete(product._id)"><span class="fa fa-close"></span> Delete</button>
            <button type="button" class="btn btn-success" (click)="save(product)"><span class="fa fa-check"></span> Save</button>
        </div>
    </p-footer>
</p-dialog>



