<h2 class="page-header">Product Management</h2>
<!--<div class="panel">
<button type="button" class="btn btn-block" data-toggle="collapse" data-target="#addNewProduct"><span class="glyphicon glyphicon-plus"></span>Add new products</button>
<div id="addNewProduct" class="collapse">
<form class="well" (submit)="addProduct()">
  <div class="form-group">
    <label>Product Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Product Description</label>
    <input type="text" [(ngModel)]="itemDescription" name="itemDescription" class="form-control">
  </div>
  <div class="form-group">
    <label>Product Price</label>
    <input type="number" [(ngModel)]="price" name="price" class="form-control" min=".01" step="0.01" >
  </div>
  <div class="form-group">
    <label>In Inventory</label>
    <input type="number" [(ngModel)]="inStock" name="inStock" class="form-control" min="0">
  </div>
  <input type="submit" class="btn btn-primary" value="Add Product">
</form>
</div>
</div>


<div class="product-list">
    <table class="table" >
        <thead>
          <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Inventory</th>
          
          </tr>
        </thead>
    <tbody>
   
    <tr *ngFor="let product of products">
        
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>${{product.price}}</td>
            <td>{{product.inStock}} </td>
            <td><input type="button"  (click)="deleteProduct(product._id)" value="Delete" class="btn btn-danger btn-xs"></td>   
      </tr>
    
         </tbody>
  </table>
    
</div>-->


<p-dataTable #prodDT [value]="products" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)"  [paginator]="true" rows="15" [responsive]="true" exportFilename="products">
    <p-header style="text-transform: uppercase; font-family: 'PT Sans Narrow', Arial, sans-serif; font-size: 12px;">Products List
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="prodDT.exportCSV()" style="float:left"></button>
    </p-header>
    <p-column field="itemCode" header="ITEM_CODE" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="description" header="DESCRIPTION" ></p-column>
    <p-column field="price" header="PRICE" >
        <template let-col let-product="rowData" pTemplate="body">
            <span>{{product[col.field] | currency:'USD':true:'.0-0'}}</span>
        </template>
    </p-column>
    <p-column field="inStock" header="QTY_ON_HAND ({{qtyFilter}})" [filter]="true" filterMatchMode="equals">
        <template pTemplate="filter" let-col>
            <i class="fa fa-close" (click)="qtyFilter=null;prodDT.filter(null, col.field, col.filterMatchMode)"></i>
            <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="qtyFilter" [min]="0" (onSlideEnd)="prodDT.filter($event.value,col.field,col.filterMatchMode)"></p-slider>
        </template>
    </p-column>
    <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
</p-dataTable>

<p-dialog header="Product Details" [(visible)]="displayDialog" [responsive]="true" [modal]="true" showEffect="fade"  [width]="400">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="product">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="itemCode">ITEM CODE</label></div>
            <div class="ui-grid-col-8"><input pInputText id="itemCode" size="30" [(ngModel)]="product.itemCode" /></div>
        </div>
        <br>   
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="description">DESCRIPTION</label></div>
            <div class="ui-grid-col-8"><input pInputText id="description" size="30" [(ngModel)]="product.description" /></div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="price">PRICE</label></div>
            <div class="ui-grid-col-8"><input pInputText id="price" size="30" [(ngModel)]="product.price" /></div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="inStock">QUANTITY</label></div>
            <div class="ui-grid-col-8"><input pInputText id="inStock" size="30" [(ngModel)]="product.inStock" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete(product._id)" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>