<h2> Cart Review</h2>

            <p class="bg-info" *ngIf="cartEntities && cartEntities.length == 0">... is empty</p>


                <div class="ui-g" id="cartHeader">
                    <div class="ui-lg-4 ui-md-4 ui-sm-4" >Item Name</div>
                    <div class="ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">Qty</div>
                    <div class="ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">Unit Price</div>
                    <div class="ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">Sub-Total</div>
                </div>
            <hr>
                <div class="ui-g" id="cartBody" *ngFor="let cartEntity of cartEntities">
                    <div class="ui-lg-4 ui-md-4 ui-sm-4" ><h4><p>{{cartEntity.product.description}}</p>
                    <span>Status: </span><span class="text-success">In Stock</span>
                    </h4></div>
                    <div class="ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">
                        <span (click)=changeQuantity(cartEntity.product._id,-1) class="fa fa-minus" style="cursor:pointer"></span>&nbsp; &nbsp;<span id="number">{{cartEntity.quantity}}</span>&nbsp; &nbsp;<span (click)=changeQuantity(cartEntity.product._id,1) class="fa fa-plus pointer" style="cursor:pointer"></span>
                    </div>
                    <div class="ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">
                        <span id="number">${{cartEntity.product.price}}</span>
                    </div>
                    <div class="ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">

                        <span id="number" decimals=".01"> ${{cartEntity.subTotal}}</span>

                    </div>
                    <div class="ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">
                        <button type="button" pButton icon="fa-remove" style="float:left" (click)="removeByProductId(cartEntity.product._id)" class="btn btn-danger" label="Remove"></button>
                    </div>          
                </div>
            <hr>
            <div class="ui-g" id="cartSum">
                <div class="ui-lg-8"><br></div>
                <div class="ui-lg-2 ui-md-6 ui-sm-6" style="font-weight: bold;">Estimated shipping: </div>
                <div class="ui-lg-2 ui-md-6 ui-sm-6">$0</div>
                <div class="ui-lg-8"><br></div>
                <div class="ui-lg-2 ui-md-6 ui-sm-6" style="font-weight: bold;">Total: </div>
                <div class="ui-lg-2 ui-md-6 ui-sm-6">${{totalSum}}</div>
            </div>
            <hr>
            <div class="ui-g">
                <div class="ui-lg-3 ui-md-6 ui-sm-6"><a [routerLink]="['']"><button pButton type="button" class="btn btn-primary" icon="fa-shopping-cart" label="CONTINUE SHOPPING"></button></a></div>
                <div class="ui-lg-6"><br></div>
                <div class="ui-lg-3 ui-md-6 ui-sm-6"><button pButton type="button" (click)="sendInvoice()"class="btn btn-success" icon="fa-play" iconPos="right" label="SEND INVOICE"></button></div>
            </div>





            <!--<div class="table-responsive">
            <table class="table table-hover" *ngIf="cartEntities &&  cartEntities.length > 0">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th class="hidden-xs">Quantity</th>
                        <th class="text-center hidden-xs">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let cartEntity of cartEntities">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><p href="#">{{cartEntity.product.description}}</p></h4>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1 hidden-xs" style="text-align: center">
                          <span  (click)=changeQuantity(cartEntity.product._id,-1) class="glyphicon glyphicon-minus pointer"></span> {{cartEntity.quantity}} <span (click)=changeQuantity(cartEntity.product._id,1)  class="glyphicon glyphicon-plus pointer"></span>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center hidden-xs"><strong>{{cartEntity.product.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center "><strong>{{cartEntity.product.price * cartEntity.quantity}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" (click)=removeByProductId(cartEntity.product._id) class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td class="hidden-xs">   </td>
                        <td class="hidden-xs">   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>0:-</strong></h5></td>
                    </tr>
                    <tr>
                        <td class="hidden-xs">   </td>
                        <td class="hidden-xs">   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{ totalSum }}:-</strong></h3></td>
                    </tr>
                    <tr>
                        <td class="hidden-xs">   </td>
                        <td class="hidden-xs">   </td>
                        <td>   </td>
                        <td>

                        <a [routerLink]="['']">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </a>
                        </td>

                        <td>
                        <button type="button" (click)="sendInvoice()"class="btn btn-success">
                            Send Invoice <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
          </div>-->