.btn-primary{
    background-color: #9ea8a0 !important;
    color: white;
    transition: .5s ease;
    border: 1px solid #9ea8a0;
}
.btn-primary:hover{
    background-color: dodgerblue !important;
    color: black !important;
    border: 1px solid dodgerblue;
}

.btn-info{
    background-color: #9ea8a0 !important;
    color: white;
    transition: .5s ease;
    border: 1px solid #9ea8a0;
}
.btn-info:hover{
    background-color: gainsboro !important;
    color: black !important;
    border: 1px solid gainsboro;
}


.btn-success{
    background-color: #9ea8a0 !important;
    color: white;
    transition: .5s ease;
    border: 1px solid #9ea8a0;
}


.btn-success:hover:enabled{
    background-color: limegreen !important;
    color: black;
    border: 1px solid limegreen;
}

.btn-danger{
    background-color: #9ea8a0 !important;
    color: white;
    transition: .5s ease;
    border: 1px solid #9ea8a0;
}

.btn-danger:hover{
background-color: red !important;
color: gainsboro!important;
border: 1px solid red !important;

}

/*button{
    background-color: dimgrey !important;
    border: whitesmoke !important;
    bottom: 5px;
}*/


.ui-inputtext#fName{
    width: 150px;
}
.ui-inputtext#lName{
    width: 150px;
}

.hidden{
    visibility: hidden;
}