<h2 class="page-header">Customer Management</h2>

<p-growl [value]="msgs" [style]="{'position':'fixed', 'top':'24%', 'left':'52%'}"></p-growl>
<p-dataTable #userDT [value]="users" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)"  [paginator]="true" rows="10" [responsive]="true" exportFilename="users" [contextMenu]="cm">
    <p-header style="text-transform: uppercase; font-family: 'PT Sans Narrow', Arial, sans-serif; font-size: 12px;">Customers List</p-header>
    <p-column field="fName" header="FIRST_NAME" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="lName" header="LAST_NAME" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="username" header="USERNAME" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="bName" header="BUSINESS_NAME" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="region" header="REGION" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="regions" [style]="{'width':'100%'}" (onChange)="userDT.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
    </p-column>
    <p-column field="pNum" header="PHONE_NUM"></p-column>
    <p-column field="email" header="EMAIL" styleClass="hidden"></p-column>
    <p-column field="address" header="ADDRESS" styleClass="hidden"></p-column>
    <p-column field="city" header="CITY" styleClass="hidden"></p-column>
    <p-column field="state" header="STATE" styleClass="hidden"></p-column>
    <p-column field="zip" header="ZIP" styleClass="hidden"></p-column>
    <p-column field="mNum" header="MOBILE_NUM" styleClass="hidden"></p-column>
    <!--<p-column field="" header="Quantity" [sortable]="true"></p-column>-->
    <p-footer></p-footer>
</p-dataTable>
        <p-contextMenu #cm [model]="items"></p-contextMenu>
        <p-dialog [(visible)]="detailDialog" header="More details" [width]="500">
                <div class="ui-g">
                    <div class="ui-g-4">Address details: </div>
                    <div class="ui-g-6">{{selectUserAddr}}, {{selectUserCity}}, {{selectUserState}} {{selectUserZip}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-4">Email: </div>
                    <div class="ui-g-6">{{selectUserEmail}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-4">Role: </div>
                    <div class="ui-g-6">{{selectUserRole}}</div>
                </div>
        </p-dialog>
<button type="button" pButton class="btn btn-primary" icon="fa-plus" style="float:left; top: 10px;" (click)="showDialogToAdd()" label="Add new customer"></button>
<button type="button" pButton class="btn btn-success" icon="fa-file-o" iconPos="left" style="float:right; top: 10px;"  label="Export to CSV" (click)="userDT.exportCSV()"></button>

<p-dialog header="Customer Details" [(visible)]="displayDialog" [responsive]="true" [modal]="true" [width]="700">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="email">Email*</label></div>
            <!--<div class="ui-grid-col-4"><p-inputMask type ="email" size="20"  [(ngModel)]="user.email" placeholder="Email: abc@xyz.com"></p-inputMask></div>-->
            <div class="ui-grid-col-4"><input pInputText id="email" type="email" size="20" [(ngModel)]="user.email" placeholder="Email: abc@xyz.com" (ngModelChange)="checkEmpty()"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="username">Username*</label></div>
            <div class="ui-grid-col-4"><input pInputText id="username" size="20" [(ngModel)]="user.username" placeholder="Username used to log in" (ngModelChange)="checkEmpty()"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="password">Password*</label></div>
            <div class="ui-grid-col-4"><input pInputText  type="password" id="password" size="20" [(ngModel)]="user.password" (ngModelChange)="checkEmpty()"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="role">Role*</label></div>
            <div class="ui-grid-col-4"><p-dropdown [options]="roles" [(ngModel)]="user.role" placeholder="Pick a role" [style]="{'width':'120px'}" (ngModelChange)="checkEmpty()"></p-dropdown></div>
        </div>
        <hr class="hr-text" data-content="Personal Information">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="fName">First Name</label></div>
            <div class="ui-grid-col-3"><input pInputText id="fName" size="20" [(ngModel)]="user.fName" /></div>
            <div class="ui-grid-col-2"><label for="lName">Last Name</label></div>
            <div class="ui-grid-col-3"><input pInputText id="lName" size="20" [(ngModel)]="user.lName" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="bName">Business Name</label></div>
            <div class="ui-grid-col-4"><input pInputText id="bName" size="20" [(ngModel)]="user.bName"  /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="address">Address</label></div>
            <div class="ui-grid-col-4"><input pInputText id="address" size="20" [(ngModel)]="user.address" placeholder="Street number, Street name"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="city">City</label></div>
            <div class="ui-grid-col-4"><input pInputText id="city" size="20" [(ngModel)]="user.city"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="state">State</label></div>
            <div class="ui-grid-col-3"><p-dropdown [options]="states" [(ngModel)]="user.state" placeholder="Pick a state" [style]="{'width':'120px'}" filter="true"></p-dropdown></div>
            <div class="ui-grid-col-2"><label for="zip">Zip</label></div>
            <div class="ui-grid-col-4"><p-inputMask id="zip" size="20" [style]="{'width':'60px'}" [(ngModel)]="user.zip" mask="99999" placeholder="99999"></p-inputMask></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="region">Region</label></div>
            <div class="ui-grid-col-4"><p-dropdown id="region" size="20" [options]="regions" [(ngModel)]="user.region" [style]="{'width':'120px'}" placeholder="Pick a region"></p-dropdown></div>
            <!--<div class="ui-grid-col-4"><p-inputMask id="region" size="20" [style]="{'width':'60px'}" [(ngModel)]="user.region" mask="aa" placeholder="MO"></p-inputMask></div>-->
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="pNum">Phone Number</label></div>
            <div class="ui-grid-col-3"><p-inputMask id="pNum" size="20" [style]="{'width':'150px'}" [(ngModel)]="user.pNum" mask="(999)-999-9999" placeholder="Enter phone number"></p-inputMask></div>
            <!--<div class="ui-grid-col-3"><input pInputText id="pNum" size="20" [(ngModel)]="user.pNum" /></div>-->
            <!--<div class="ui-grid-col-3"><input pInputText id="mNum" size="20" [(ngModel)]="user.mNum" /></div>-->
        </div>
        <!--<div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="fNum">Fax Number</label></div>
            <div class="ui-grid-col-8"><input pInputText id="fNum" size="20" [(ngModel)]="user.fNum" /></div>
        </div>-->
        <br><br>
        <div class="ui-grid-row" style="font-style: italic">*: Required fields.</div>   
        
        <!--<div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="inStock">QUANTITY</label></div>
            <div class="ui-grid-col-8"><input pInputText id="inStock" [(ngModel)]="product.inStock" /></div>
        </div>-->
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <a href="#"><button type="button" class="btn btn-info"><span class="fa fa-question"></span></button></a>
            <button type="button" class="btn btn-danger" (click)="deleteUser(user._id)"><span class="fa fa-close"></span> Delete</button>
            <button type="button" id="saveUser" class="btn btn-success" (click)="save()" disabled="disabled"><span class="fa fa-check"></span> Save</button>
        </div>
    </p-footer>
</p-dialog>