<div *ngIf="user"> 
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Role: {{role}} </li>
   
  </ul>
  </div>

  <div *ngIf="role === 'Admin' || role === 'admin'  ">
    <div class="panel panel-default">
      <div class="panel-heading"> Management Tools     </div>
        <div class="panel-body">
     <ul class="nav navbar-nav" >
       <div class="ui-g">
            <div class="ui-col-6"><li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/dashboard']">Product Management</a></li></div>
            <div class="ui-col-6" style="position: absolute; right: 300px;" ><li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/users']">Customer Management</a></li></div>
        </div>
        <div class="ui-g">
            <div class="ui-col-6"><li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/vendor']">Vendor Orders Management here</a></li></div>
            <div class="ui-col-6" style="position: absolute; right: 280px;" ><li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/#']">Invoices Management here</a></li></div>
        </div>
     </ul>
     </div>

     </div>
  </div>