<div *ngIf="user"> 
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Role: {{role}} </li>
   
  </ul>
  </div>

  <div *ngIf="role === 'Admin' || role === 'admin'  ">
    <div class="panel panel-default">
      <div class="panel-heading"> Management Tools     </div>
        <div class="panel-body">
     <ul class="nav navbar-nav navbar-left" >
            <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/dashboard']">Product Managment</a></li>
            <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/users']">Customer Managment</a></li>
            <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/vendor']">Vendor Managment</a></li>
     </ul>
     </div>

     </div>
  </div>

