<hr id="head">
<a href="#head"><button id="myBtn" type="button" class="btn btn-default">Top</button></a>
<h1>Welcome to Kirkwood Holdings</h1>
<div class="ui-g">
    <div class="ui-lg-3 ui-md-3 ui-sm-12">
        <h3>Mission Statement: </h3>
        <p style="text-align: justify;">Today's active men and women are influenced by their desire to be more healthy, productive, and alert in their day to day activities.
            They desire a healthier lifestyle and are more conscience about the ingredients. Our dynamic and great tasting energy drinks and shooters
            help them fulfill that desire, giving them a tremporaty boost of energy when they need it. Liquid Nitro Beverages are a step above others in taste
            and ingredients. We formulate all our products in-house and proudly produce them in the USA. With all the energy drinks on the market,
             it is not difficult to see which ones are passing marketing fads and which are here long-term. Liquid Nitro will definitely be in the game 
             long after others disappear. The reasons are taste and quality. Great taste, all the energy with no aftertaste and no crash brings customers back for more.
              Liquid Nitro has been in business for over 5 years and has been ranked among the top ten energy drinks in the nation. With regular, low-carb energy 
              drinks, and our family of energy shooters, Liquid Nitro meets the demands of all consumers including sugar and carb conscious customers.
        </p>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <p-galleria [images]="images" panelWidth="550" panelHeight="600" [showCaption]="false"></p-galleria>
    </div>
    <div class="ui-lg-3 ui-md-3 ui-sm-12">
        <hr>
        <img src="https://s3.amazonaws.com/ctres2428.com/images/img/Picture1.jpg" alt="img" height="100px" width="250px">
        <h3 style="text-align: center;">Contact us: </h3>
        <p style="text-align: center;"><a href="#">Kirkwood Holdings LLC</a> <br>
            1518 Still Forest Ct <br>
        St Peters, MO 63376 <br>
        Office: 000-000-0000 <br>
        Fax: 000-000-0000 <br>
        Cell: 000-000-0000 <br>
        <a href="mailto: Cdonovan24732gmail.com8@gmail.com">Request an account? Click here.</a>
        </p>
        <hr>
    </div>
</div>
<hr>

<div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <img src="https://s3.amazonaws.com/ctres2428.com/images/img/Picture2.jpg" alt="img">
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <ul id="title">Original Formula:
            <li id="list">8.4 oz</li>
            <li id="list">16 oz can</li>
        </ul>
        <ul id="title">Original Low-Carb Formula:
            <li id="list">8.4 oz</li>
            <li id="list">16 oz can</li>
        </ul>
        <ul id="title">Tropical Storm Formula:
            <li id="list">16 oz can</li>
            <li id="list" style="font-style: italic;">8.4 oz - Coming soon!</li>
        </ul>
        <ul id="title">Tropical Storm Low-Carb Formula:
            <li id="list">16 oz can</li>
        </ul>
    </div>
</div>
<hr>
<div class="ui-g">
    <div class="ui-lg-12">
    <h3>Liquid Herbal Nitro Energy Drinks: </h3>
    <p>
    Available in 8.4oz and 16oz <br>
    These products are made with the finest ingredients and only 80 milligrams of caffeine per serving. <br>
    With 2 herbs and 5 B-Vitamins, it will get you going and keep you going with NO CRASH and NO JITTERS. <br>
    The light beverage flavor in both regular and low-carb is one of the best on the market. <br>
    For the low-carb drinkers, there is NO difference in taste but with only 10 calories. <br>
    One taste is all you need to realize we are <br>
    REAL ENERGY...NO BULL</p>
    <img src="https://s3.amazonaws.com/ctres2428.com/images/img/Picture1.jpg" alt="img" style="display: block; margin: auto;">
    </div>  
</div>
<hr>

<div class="ui-g">
    <div class="ui-lg-8 ui-md-6 ui-sm-12">
        <img src="https://s3.amazonaws.com/ctres2428.com/images/img/Picture3.jpg" alt="img" style="width: 98%;">
    </div>
    <div class="ui-lg-3 ui-md-3 ui-sm-12">
        <h3>Liquid Herbal Nitro Tropical Storm: </h3>
        <p>
        Available in 16oz <br>
        Our great tasting fruit based flavored energy drink is made with the same energy blend 
        as our regular and low-carb drink but is also powered by the six anti-oxidant super fruits 
        from around the world: Acai Berry, Blueberry, Indian Gooseberry, Mangosteen, Pomegranate and 
        Tahitian Noni. Tropical Storm has a light tropical fruit flavor that is extremely satisfying.
        </p>
    </div>
</div>
<hr>

<div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <ul id="title">Liquid Nitro Energy: 
            <li id="list">6 Super Anti-Oxidant Fruits</li>
            <li id="list">Vitamins B6 and B12</li>
            <li id="list">Long Lasting Energy</li>
            <li id="list">No Crash</li>
        </ul>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <ul id="title">Liquid Nitro Inferno Energy Shot: 
            <li id="list">6 Super Anti-Oxidant Fruits</li>
            <li id="list">Vitamins B6 and B12</li>
            <li id="list">Red Hot Cinnamon flavor</li>
            <li id="list">Long Lasting Energy</li>
            <li id="list">No Crash</li>
        </ul>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <img src="https://s3.amazonaws.com/ctres2428.com/images/img/picture5.PNG" alt="img" style="height: 300px;width: 100%;">
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <ul id="title">Liquid Nitro Lean Energy: 
            <li id="list">6 Super Anti-Oxidant Fruits</li>
            <li id="list">Vitamins B6 and B12</li>
            <li id="list">Curbs Appetite</li>
            <li id="list">Inhibits Fat Production</li>
            <li id="list">Promotes Healthy Insulin and Serotonin Levels</li>
        </ul>
    </div>
</div>
<hr>

<div class="ui-g">
    <div class="ui-lg-offset-6 ui-md-6 ui-sm-12">
        <ul id="title">Liquid Nitro Energy Tropical Storm: 
            <li id="list">4 Super Anti-Oxidant Fruits</li>
            <li id="list">Vitamins B6 and B12</li>
            <li id="list">Long Lasting Energy</li>
            <li id="list">No Crash</li>
        </ul>
    </div>
    <div class="ui-lg-12 ui-md-6 ui-sm-12">
        <img src="https://s3.amazonaws.com/ctres2428.com/images/img/Picture46jpg.png" alt="img" style="display:block; margin:atuo;">
    </div>
</div>
<hr>



<!--<div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/test3.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/test4.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/test5.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/2fr3poster.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/4x8OrbBanner.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/NewTropicalStormLowCarbPoster2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/ShotPoster.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/posterserenity(1).jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/trifoldinside.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://s3.amazonaws.com/ctres2428.com/images/yerbamatestaticcling.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>-->