<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" [(ngModel)]="fName" name="fName" class="form-control">
  </div>
   <div class="form-group">
    <label>Last Name</label>
    <input type="text" [(ngModel)]="lName" name="lName" class="form-control" >
  </div>
   <div class="form-group">
    <label>Business Name</label>
    <input type="text" [(ngModel)]="bName" name="bName" class="form-control" >
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" >
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control">
  </div>
  <div class="form-group">
    <label>Role</label>
    <input type="text" [(ngModel)]="role" name="role" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
