.btn:hover{
background-color: deepskyblue !important;
color: #3c3c3c !important;
border: 1px solid #fff !important;

}

button{
    background-color: dodgerblue !important;
    border: whitesmoke !important;
    bottom: 0px;
    left: 10px;
}
