<div class="page header">
    <div class="container-fluid">
 <h1>Products page title</h1>
 <p class="lead">This will be the product page</p>
 </div>
</div>

<p-dataGrid [value]="products" [paginator]="true" [rows]="8">
   <p-header>
       <h2>List of Products</h2>
   </p-header>

   <ng-template let-product pTemplate="item" let-i="index">
        <div style="padding:3px;" class="ui-g-12 ui-md-3">
            <p-panel [header]="product.itemCode" [style]="{'text-align':'center'}">
                <img src="{{product.image}}" width="200px" height="200px">
                <div class="prod-detail">{{product.description}}</div>
                <div class="prod-detail">${{product.price}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <p-spinner size="10" [(ngModel)]="quant[i]" [min]="1" [max]="product.inStock"  style="width: 100px;" name="quant" ></p-spinner>
                <button type="button" class="btn btn-primary" style="float:right" (click)="addCart(product, quant[i])">Add </button>
            </p-panel>
        </div>
   </ng-template>
   <p-footer></p-footer>
</p-dataGrid>