.btn:hover{
background-color: deepskyblue !important;
color: #3c3c3c !important;
border: 1px solid #fff !important;

}

button{
    background-color: grey !important;
    border: whitesmoke !important;
    top: 5px;
}


