
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top navbar-toggleable-sm" role="navigation" >
  <div class="container-fluid" id="navStyle" >
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  href="#" ><img src="https://media.licdn.com/media/p/5/005/01b/32d/311cd18.png" style="width: 150px; height:50px;" alt="logo_here"></a>
          
      </div> <!--navbar-header-->
      
      <div class="navbar-collapse collapse" id="nav">
          <ul class="nav navbar-nav navbar-left block-menu" id="nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/home']" class="three-d">Products
              <span aria-hidden="true" class="three-d-box">
                <span class="front">Products</span>
                <span class="back">Products</span>
              </span>
            </a></li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/profile']" class="three-d">Profile
              <span aria-hidden="true" class="three-d-box">
                <span class="front">Profile</span>
                <span class="back">Profile</span>
              </span>
            </a></li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/cart']" class="three-d">Cart
              <span aria-hidden="true" class="three-d-box">
                <span class="front">Cart</span>
                <span class="back">Cart</span>
              </span>
            </a></li>
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/login']" class="three-d">Login
              <span aria-hidden="true" class="three-d-box">
                  <span class="front">Login</span>
                  <span class="back">Login</span>
                </span>
            </a></li>
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/register']">Register</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right block-menu" id="nav">
            <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#" class="three-d">Logout
                <span aria-hidden="true" class="three-d-box">
                  <span class="front">Logout</span>
                  <span class="back">Logout</span>
                </span>
              </a></li>
          </ul>
      </div> <!--navbar-->
  </div> <!--/.container ended-->
</nav> <!--/.nav ended-->